<%= form_for([@sprint, @iteration]) do |f| %>
  <% if @iteration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@iteration.errors.count, "error") %> prohibited this iteration from being saved:</h2>

      <ul>
      <% @iteration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :points_completed %><br>
    <%= f.text_field :points_completed %>
  </div>
  <div class="field">
    <%= f.label :sprint_id %><br>
    <%= f.number_field :sprint_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
